.joinBannerBg {
  background-color: #1D252C;
  padding-top: 80px;
  padding-bottom: 150px;
}
.joinBannerBg .container {
  position: relative;
}
.joinBannerBg .container .data h2 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  color: var(--white);
  margin: 5px 0 40px;
}
.joinBannerBg .container .data h2 span {
  color: var(--primary);
}
.joinBannerBg .container .data p {
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  color: var(--white);
}
.joinBannerBg .container .data a {
  background-color: var(--primary);
  padding: 12px 30px;
  color: var(--white);
  font-weight: 500;
  text-transform: uppercase;
}
.joinBannerBg .container .data a:hover {
  background-color: var(--secondary);
}
.joinBannerBg .container img {
  width: 350px;
  position: absolute;
  top: 0;
  right: 0;
}

.joinAbreco .container {
  position: relative;
}
.joinAbreco .container .data {
  display: flex;
  width: 100%;
  padding: 0 180px;
}
.joinAbreco .container .data .testimonialsWrapper {
  padding-right: 40px;
  width: 50%;
  float: left;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.joinAbreco .container .data .testimonialsWrapper h2 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  color: var(--black);
  margin: 5px 0 20px;
}
.joinAbreco .container .data .testimonialsWrapper h2 span {
  color: var(--primary);
}
.joinAbreco .container .data .testimonialsWrapper p {
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  color: var(--black);
}
.joinAbreco .container .data .testimonialsWrapper img {
  position: absolute;
  top: 80px;
  right: 30px;
  width: 220px;
}
.joinAbreco .container .data .testimonialsWrapper .testimonials .alice-carousel .alice-carousel__wrapper ul.alice-carousel__stage li .item {
  position: relative;
  padding-bottom: 160px;
}
.joinAbreco .container .data .testimonialsWrapper .testimonials .alice-carousel .alice-carousel__wrapper ul.alice-carousel__stage li .item small {
  color: #808285;
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
}
.joinAbreco .container .data .testimonialsWrapper .testimonials .alice-carousel .alice-carousel__wrapper ul.alice-carousel__stage li .item a {
  font-size: 14px;
  color: var(--secondary);
  margin-left: 5px;
  position: relative;
  z-index: 9;
}
.joinAbreco .container .data .testimonialsWrapper .testimonials .alice-carousel .alice-carousel__wrapper ul.alice-carousel__stage li .item a:hover {
  color: var(--primary);
}
.joinAbreco .container .data .testimonialsWrapper .testimonials .alice-carousel .alice-carousel__wrapper ul.alice-carousel__stage li .item b {
  color: #F2F2F2;
  font-size: 180px;
  position: absolute;
  bottom: 0;
  right: 20px;
  line-height: 130px;
  display: ruby-text;
  font-weight: 900;
}
.joinAbreco .container .data .testimonialsWrapper .testimonials .alice-carousel .alice-carousel__prev-btn {
  margin-right: 15px;
  margin-left: 15px;
  background-color: #ADADAE;
  width: 60px;
  height: 90px;
  transform: skew(-20deg);
  text-align: center;
  line-height: 90px;
  padding: 0;
  cursor: pointer;
  transition: 0.5s;
  position: absolute;
  bottom: 0;
  left: 0;
}
.joinAbreco .container .data .testimonialsWrapper .testimonials .alice-carousel .alice-carousel__prev-btn img {
  width: 24px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 9;
  filter: brightness(0);
  transition: 0.5s;
}
.joinAbreco .container .data .testimonialsWrapper .testimonials .alice-carousel .alice-carousel__prev-btn:after {
  content: "";
  background-color: var(--primary);
  width: 100%;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s;
}
.joinAbreco .container .data .testimonialsWrapper .testimonials .alice-carousel .alice-carousel__prev-btn:hover:after {
  height: 100%;
}
.joinAbreco .container .data .testimonialsWrapper .testimonials .alice-carousel .alice-carousel__prev-btn:hover img {
  filter: brightness(1);
}
.joinAbreco .container .data .testimonialsWrapper .testimonials .alice-carousel .alice-carousel__next-btn {
  background-color: #ADADAE;
  width: 60px;
  height: 90px;
  transform: skew(-20deg);
  text-align: center;
  line-height: 90px;
  padding: 0;
  cursor: pointer;
  transition: 0.5s;
  position: absolute;
  bottom: 0;
  left: 90px;
}
.joinAbreco .container .data .testimonialsWrapper .testimonials .alice-carousel .alice-carousel__next-btn img {
  width: 24px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 9;
  filter: brightness(0);
  transition: 0.5s;
}
.joinAbreco .container .data .testimonialsWrapper .testimonials .alice-carousel .alice-carousel__next-btn:after {
  content: "";
  background-color: var(--primary);
  width: 100%;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s;
}
.joinAbreco .container .data .testimonialsWrapper .testimonials .alice-carousel .alice-carousel__next-btn:hover:after {
  height: 100%;
}
.joinAbreco .container .data .testimonialsWrapper .testimonials .alice-carousel .alice-carousel__next-btn:hover img {
  filter: brightness(1);
}
.joinAbreco .container .data .testimonialsImage {
  width: 50%;
  float: left;
}
.joinAbreco .container .data .testimonialsImage img {
  margin-top: -140px;
  width: 100%;
}/*# sourceMappingURL=join.css.map */