.clientsCarousel {
    background-color: #F8F8F8;

    .container {
        .data {
            .alice-carousel {
                .alice-carousel__wrapper {
                    .alice-carousel__stage {
                        li.alice-carousel__stage-item {
                            .item {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 200px;
                                margin: 10px;
                                padding: 0 20px;

                                img {
                                    width: 100%;
                                    height: auto;
                                    object-fit: scale-down;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}