.siteBanner {
  position: relative;
  margin-top: 105px;
  height: 90vh;
}
.siteBanner .react-Slidy.react-Slidy--fullWidth {
  height: 100%;
}
.siteBanner .react-Slidy.react-Slidy--fullWidth:after {
  content: "";
  position: absolute;
  left: -270px;
  top: 0;
  background: var(--white);
  width: 710px;
  height: 100%;
  z-index: 1;
  transform: skew(-30deg);
}
.siteBanner .react-Slidy.react-Slidy--fullWidth ul {
  margin: 0;
}
.siteBanner .react-Slidy.react-Slidy--fullWidth ul li .slide .slide-content {
  position: absolute;
  top: 30%;
  left: unset;
  right: 50px;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 9;
  font-style: italic;
  text-align: right;
}
.siteBanner .react-Slidy.react-Slidy--fullWidth ul li .slide .slide-content h2 {
  font-size: 70px;
  line-height: 65px;
  text-transform: uppercase;
  font-weight: 700;
}
.siteBanner .react-Slidy.react-Slidy--fullWidth ul li .slide .slide-content span {
  font-size: 35px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
}
.siteBanner .react-Slidy.react-Slidy--fullWidth .react-Slidy-prev,
.siteBanner .react-Slidy.react-Slidy--fullWidth .react-Slidy-next {
  display: none;
}
.siteBanner .Dots {
  position: absolute;
  bottom: 25px;
  right: 100px;
  z-index: 9;
  height: 20px;
}
.siteBanner .slanding1 {
  width: 200px;
  height: 630px;
  background-color: transparent;
  position: absolute;
  bottom: -30px;
  z-index: 9;
  transform: skew(-30deg);
  overflow: hidden;
  left: 315px;
}
.siteBanner .slanding1 .animate__animated {
  height: 100%;
}
.siteBanner .slanding1 .animate__animated .inner {
  width: 100%;
  height: 100%;
  background: var(--primary);
  position: absolute;
  left: 0;
  z-index: 999;
  top: 0;
}
.siteBanner .slanding2 {
  width: 140px;
  height: 500px;
  background-color: transparent;
  position: absolute;
  bottom: -30px;
  z-index: 9;
  transform: skew(-30deg);
  overflow: hidden;
  left: 475px;
}
.siteBanner .slanding2 .animate__animated {
  height: 100%;
}
.siteBanner .slanding2 .animate__animated .inner {
  width: 100%;
  height: 100%;
  background: var(--secondary);
  position: absolute;
  left: 0;
  z-index: 999;
  top: 0;
}
.siteBanner #line-1 {
  position: relative;
  z-index: 9;
  transform: skew(-30deg);
}
.siteBanner #line-1 img.lines {
  position: absolute;
  bottom: -30px;
  left: 140px;
  z-index: 9;
}

@media (min-width: 1369px) and (max-width: 1600px) {
  .siteBanner {
    margin-top: 105px;
    height: 90vh;
  }
  .siteBanner .react-Slidy.react-Slidy--fullWidth div {
    height: 100%;
  }
  .siteBanner .react-Slidy.react-Slidy--fullWidth:after {
    content: "";
    position: absolute;
    left: -270px;
    top: 0;
    background: var(--white);
    width: 710px;
    height: 100%;
    z-index: 1;
    transform: skew(-30deg);
  }
  .siteBanner .react-Slidy.react-Slidy--fullWidth ul {
    height: 100%;
  }
  .siteBanner .react-Slidy.react-Slidy--fullWidth ul li {
    height: 100%;
  }
  .siteBanner .react-Slidy.react-Slidy--fullWidth ul li .slide {
    height: 100%;
  }
  .siteBanner .react-Slidy.react-Slidy--fullWidth ul li .slide img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .siteBanner .react-Slidy.react-Slidy--fullWidth ul li .slide .slide-content {
    top: 30%;
    right: 50px;
    transform: translate(-50%, -50%);
  }
  .siteBanner .react-Slidy.react-Slidy--fullWidth ul li .slide .slide-content h2 {
    font-size: 60px;
    line-height: 55px;
  }
  .siteBanner .react-Slidy.react-Slidy--fullWidth ul li .slide .slide-content span {
    font-size: 30px;
    line-height: 30px;
  }
  .siteBanner .Dots {
    bottom: 25px;
    right: 100px;
    height: 20px;
  }
  .siteBanner .slanding1 {
    width: 180px;
    height: 550px;
    bottom: -30px;
    left: 315px;
  }
  .siteBanner .slanding2 {
    width: 140px;
    height: 415px;
    bottom: -30px;
    left: 455px;
  }
}
@media (min-width: 1201px) and (max-width: 1368px) {
  .siteBanner {
    margin-top: 105px;
    height: 90vh;
  }
  .siteBanner .react-Slidy.react-Slidy--fullWidth div {
    height: 100%;
  }
  .siteBanner .react-Slidy.react-Slidy--fullWidth:after {
    content: "";
    position: absolute;
    left: -270px;
    top: 0;
    background: var(--white);
    width: 710px;
    height: 100%;
    z-index: 1;
    transform: skew(-30deg);
  }
  .siteBanner .react-Slidy.react-Slidy--fullWidth ul {
    height: 100%;
  }
  .siteBanner .react-Slidy.react-Slidy--fullWidth ul li {
    height: 100%;
  }
  .siteBanner .react-Slidy.react-Slidy--fullWidth ul li .slide {
    height: 100%;
  }
  .siteBanner .react-Slidy.react-Slidy--fullWidth ul li .slide img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .siteBanner .react-Slidy.react-Slidy--fullWidth ul li .slide .slide-content {
    top: 30%;
    right: 50px;
    transform: translate(-50%, -50%);
  }
  .siteBanner .react-Slidy.react-Slidy--fullWidth ul li .slide .slide-content h2 {
    font-size: 55px;
    line-height: 50px;
  }
  .siteBanner .react-Slidy.react-Slidy--fullWidth ul li .slide .slide-content span {
    font-size: 27px;
    line-height: 30px;
  }
  .siteBanner .Dots {
    bottom: 25px;
    right: 100px;
    height: 20px;
  }
  .siteBanner .slanding1 {
    width: 180px;
    height: 630px;
    bottom: -30px;
    left: 315px;
  }
  .siteBanner .slanding2 {
    width: 140px;
    height: 500px;
    bottom: -30px;
    left: 455px;
  }
}/*# sourceMappingURL=homeslider.css.map */