.display{
  width:100%;
}
table, th {
  border: 1px solid lightgrey;
  border-collapse: collapse;
  padding: 10px 10px 10px 10px;
}
.td_pad{
  padding: 15px 15px !important;
}

tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
    tfoot {
      display: table-row-group;
  }
  .foot_pad{
    padding: 10px;
  }