@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --container-width-lg: 87%;
    --container-width-md: 90%;
    --container-width-sm: 95%;
    --primary: #ee2346;
    --secondary: #047fbb;
    --white: #ffffff;
    --black: #000000;
    --text: #808285;
    --grey: #2c2c2c;
    --exo: "Exo", sans-serif;
}

body {
    background: var(--white);
    font-family: var(--exo);
    font-style: italic;
    color: var(--text);
    font-size: 20px;
    line-height: 30px;
}

a {
    text-decoration: none;
    transition: .5s;

    &:hover {
        text-decoration: none;
    }
}

.pageSubTitle {
    padding-top: 50px;
    padding-bottom: 50px;

    .container {
        .data {
            padding: 50px 160px 0px 400px;
            position: relative;

            #dot-1, #dot-2 {
                position: absolute;
                top: 60px;
                left: 100px;
                width: 250px;
            }

            h2 {
                font-size: 40px;
                line-height: 50px;
                font-weight: 600;
                color: var(--black);
                margin-bottom: 30px;

                span {
                    color: var(--primary);
                }
            }

            p {
                font-size: 24px;
                line-height: 32px;
            }
        }
    }
}

.pageSubTitleWithBanner {
    padding-bottom: 50px;

    .container {
        margin-right: 0;
        background-size: cover;
        background-repeat: no-repeat;

        .data {
            padding: 100px;
            position: relative;

            img {
                position: absolute;
                top: 60px;
                left: 100px;
                width: 250px;
            }

            h2 {
                font-size: 40px;
                line-height: 50px;
                font-weight: 600;
                color: var(--white);

                span {
                    color: var(--primary);
                }
            }
        }

        .dataDetails {
            p {
                margin: 0;
                font-size: 24px;
                line-height: 32px;
            }
        }
    }

}























@media (min-width: 1600px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 85%;
    }
}

@media (min-width: 1369px) and (max-width: 1600px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 90%;
    }

    body {
        font-size: 18px;
        line-height: 28px;
    }

    .pageSubTitle {
        .container {
            .data {
                padding: 50px 100px 0px 400px;

                img {
                    top: 60px;
                    left: 100px;
                    width: 250px;
                }

                h2 {
                    font-size: 36px;
                    line-height: 42px;
                }

                p {
                    font-size: 22px;
                    line-height: 30px;
                }
            }
        }
    }

    .pageSubTitleWithBanner {
        padding-bottom: 50px;

        .container {
            .data {
                padding: 90px;

                img {
                    top: 60px;
                    left: 100px;
                    width: 250px;
                }

                h2 {
                    font-size: 36px;
                    line-height: 42px;
                }
            }

            .dataDetails {
                p {
                    font-size: 22px;
                    line-height: 30px;
                }
            }
        }
    }
}

@media (min-width: 1201px) and (max-width: 1368px) {
    body {
        font-size: 17px;
        line-height: 28px;
    }

    .pageSubTitle {
        .container {
            .data {
                padding: 50px 100px 0px 400px;

                img {
                    top: 60px;
                    left: 100px;
                    width: 250px;
                }

                h2 {
                    font-size: 32px;
                    line-height: 40px;
                }

                p {
                    font-size: 20px;
                    line-height: 28px;
                }
            }
        }
    }

    .pageSubTitleWithBanner {
        padding-bottom: 20px;

        .container {
            .data {
                padding: 80px;

                img {
                    top: 60px;
                    left: 100px;
                    width: 250px;
                }

                h2 {
                    font-size: 32px;
                    line-height: 40px;
                }
            }

            .dataDetails {
                p {
                    font-size: 20px;
                    line-height: 28px;
                }
            }
        }
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .pageSubTitle {
        .container {
            .data {
                padding: 50px 80px 0px 300px;

                img {
                    top: 60px;
                    left: 80px;
                    width: 180px;
                }

                h2 {
                    font-size: 28px;
                    line-height: 36px;
                }

                p {
                    font-size: 18px;
                    line-height: 28px;
                }
            }
        }
    }

    .pageSubTitleWithBanner {
        padding-bottom: 0px;

        .container {
            .data {
                padding: 70px;

                img {
                    top: 60px;
                    left: 80px;
                    width: 180px;
                }

                h2 {
                    font-size: 28px;
                    line-height: 36px;
                }
            }

            .dataDetails {
                p {
                    font-size: 18px;
                    line-height: 28px;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .pageSubTitle {
        .container {
            .data {
                padding: 50px 80px 0px 300px;

                img {
                    top: 60px;
                    left: 80px;
                    width: 180px;
                }

                h2 {
                    font-size: 28px;
                    line-height: 36px;
                }

                p {
                    font-size: 18px;
                    line-height: 28px;
                }
            }
        }
    }

    .pageSubTitleWithBanner {
        padding-bottom: 0px;

        .container {
            .data {
                padding: 60px;

                img {
                    top: 60px;
                    left: 80px;
                    width: 180px;
                }

                h2 {
                    font-size: 28px;
                    line-height: 36px;
                }
            }

            .dataDetails {
                p {
                    font-size: 18px;
                    line-height: 28px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .pageSubTitle {
        .container {
            .data {
                padding: 50px 0px 0px 0px;

                img {
                    top: 0px;
                    left: 0px;
                    width: 180px;
                }

                h2 {
                    font-size: 28px;
                    line-height: 36px;

                    br {
                        display: none;
                    }
                }

                p {
                    font-size: 18px;
                    line-height: 28px;
                }
            }
        }
    }

    .pageSubTitleWithBanner {
        padding-bottom: 0px;

        .container {
            .data {
                padding: 50px;

                img {
                    top: 0px;
                    left: 0px;
                    width: 180px;
                }

                h2 {
                    font-size: 28px;
                    line-height: 36px;

                    br {
                        display: none;
                    }
                }
            }

            .dataDetails {
                p {
                    font-size: 18px;
                    line-height: 28px;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .pageSubTitle {
        .container {
            .data {
                padding: 50px 0px 0px 0px;

                img {
                    display: none;
                }

                h2 {
                    font-size: 28px;
                    line-height: 36px;
                }

                p {
                    font-size: 18px;
                    line-height: 28px;
                    margin-bottom: 0;
                }
            }
        }
    }

    .pageSubTitleWithBanner {
        padding-bottom: 0px;

        .container {
            .data {
                padding: 40px 20px;

                img {
                    display: none;
                }

                h2 {
                    font-size: 28px;
                    line-height: 36px;
                }
            }

            .dataDetails {
                p {
                    font-size: 18px;
                    line-height: 28px;
                }
            }
        }
    }
}