.pageTitle.ceo {
  background-color: #F8F8F8;
}
.pageTitle.ceo .container-fluid {
  position: relative;
  padding: 0;
}
.pageTitle.ceo .container-fluid .dots {
  position: absolute;
  top: 0;
  left: 50%;
  width: 360px;
}
.pageTitle.ceo .container-fluid .data {
  display: flex;
  padding-top: 50px;
}
.pageTitle.ceo .container-fluid .data .authorWrapper {
  padding-left: 250px;
  padding-top: 100px;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.pageTitle.ceo .container-fluid .data .authorWrapper .title h2 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  color: var(--black);
}
.pageTitle.ceo .container-fluid .data .authorWrapper .title h2 span {
  color: var(--primary);
}
.pageTitle.ceo .container-fluid .data .authorWrapper .quote {
  display: flex;
  align-items: start;
  gap: 40px;
  margin: 40px 0;
}
.pageTitle.ceo .container-fluid .data .authorWrapper .quote p {
  color: var(--black);
  font-size: 25px;
  line-height: 32px;
}
.pageTitle.ceo .container-fluid .data .authorWrapper .content {
  margin-bottom: 40px;
  max-width: 90%;
}
.pageTitle.ceo .container-fluid .data .authorWrapper .content p {
  font-size: 22px;
  line-height: 32px;
}
.pageTitle.ceo .container-fluid .data .authorWrapper .authorBox {
  position: relative;
}
.pageTitle.ceo .container-fluid .data .authorWrapper .authorBox:after {
  content: "";
  width: 70%;
  height: 2px;
  background-color: var(--black);
  position: absolute;
  bottom: 30px;
  right: 30px;
}
.pageTitle.ceo .container-fluid .data .authorWrapper .authorBox h3 {
  font-size: 40px;
  line-height: 48px;
  color: var(--black);
  font-weight: 600;
}
.pageTitle.ceo .container-fluid .data .authorWrapper .authorBox p {
  font-size: 25px;
  line-height: 32px;
  color: var(--black);
  font-weight: 500;
}
.pageTitle.ceo .container-fluid .data .img {
  width: 40%;
  text-align: right;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: end;
}
.pageTitle.ceo .container-fluid .data .img img.lines {
  position: absolute;
  left: 0;
  bottom: 0;
}
.pageTitle.ceo .container-fluid .data .img img.ceoImage {
  width: 100%;
}

@media (min-width: 1369px) and (max-width: 1600px) {
  .pageTitle.ceo .container-fluid .dots {
    left: 50%;
    width: 300px;
  }
  .pageTitle.ceo .container-fluid .data {
    padding-top: 50px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper {
    padding-left: 180px;
    padding-top: 100px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .title h2 {
    font-size: 36px;
    line-height: 45px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .quote {
    gap: 40px;
    margin: 20px 0;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .quote p {
    font-size: 20px;
    line-height: 30px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .content {
    margin-bottom: 20px;
    max-width: 90%;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .content p {
    font-size: 18px;
    line-height: 28px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .authorBox:after {
    width: 70%;
    bottom: 30px;
    right: 30px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .authorBox h3 {
    font-size: 36px;
    line-height: 44px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .authorBox p {
    font-size: 20px;
    line-height: 30px;
  }
  .pageTitle.ceo .container-fluid .data .img {
    width: 40%;
  }
  .pageTitle.ceo .container-fluid .data .img .ceoImage {
    width: 100%;
  }
}
@media (min-width: 1201px) and (max-width: 1368px) {
  .pageTitle.ceo .container-fluid .dots {
    left: 50%;
    width: 300px;
  }
  .pageTitle.ceo .container-fluid .data {
    padding-top: 50px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper {
    padding-left: 120px;
    padding-top: 100px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .title h2 {
    font-size: 32px;
    line-height: 42px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .quote {
    gap: 40px;
    margin: 20px 0;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .quote p {
    font-size: 20px;
    line-height: 30px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .content {
    margin-bottom: 20px;
    max-width: 90%;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .content p {
    font-size: 18px;
    line-height: 28px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .authorBox:after {
    width: 60%;
    bottom: 30px;
    right: 30px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .authorBox h3 {
    font-size: 32px;
    line-height: 40px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .authorBox p {
    font-size: 20px;
    line-height: 28px;
  }
  .pageTitle.ceo .container-fluid .data .img {
    width: 40%;
  }
  .pageTitle.ceo .container-fluid .data .img .ceoImage {
    width: 100%;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .pageTitle.ceo .container-fluid .dots {
    left: 70px;
    width: 300px;
    top: 70px;
  }
  .pageTitle.ceo .container-fluid .data {
    padding-top: 50px;
    flex-direction: column-reverse;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper {
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
    width: 100%;
    max-width: 100%;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .title h2 {
    font-size: 32px;
    line-height: 42px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .title h2 br {
    display: none;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .quote {
    gap: 40px;
    margin: 20px 0;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .quote p {
    font-size: 20px;
    line-height: 30px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .content {
    margin-bottom: 20px;
    max-width: 90%;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .content p {
    font-size: 18px;
    line-height: 28px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .authorBox:after {
    width: 60%;
    bottom: 30px;
    right: 30px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .authorBox h3 {
    font-size: 32px;
    line-height: 40px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .authorBox p {
    font-size: 20px;
    line-height: 28px;
  }
  .pageTitle.ceo .container-fluid .data .img {
    width: 100%;
  }
  .pageTitle.ceo .container-fluid .data .img img.lines {
    left: unset;
    right: 0;
    transform: translate(-50%, 0%);
  }
  .pageTitle.ceo .container-fluid .data .img img.ceoImage {
    width: 70%;
  }
}
@media (max-width: 992px) {
  .pageTitle.ceo .container-fluid .dots {
    left: 70px;
    width: 280px;
    top: 0px;
  }
  .pageTitle.ceo .container-fluid .data {
    padding-top: 50px;
    flex-direction: column-reverse;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper {
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
    width: 100%;
    max-width: 100%;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .title h2 {
    font-size: 32px;
    line-height: 42px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .title h2 br {
    display: none;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .quote {
    gap: 40px;
    margin: 20px 0;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .quote p {
    font-size: 20px;
    line-height: 30px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .content {
    margin-bottom: 20px;
    max-width: 90%;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .content p {
    font-size: 18px;
    line-height: 28px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .authorBox:after {
    width: 60%;
    bottom: 30px;
    right: 30px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .authorBox h3 {
    font-size: 24px;
    line-height: 32px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .authorBox p {
    font-size: 16px;
    line-height: 26px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .authorBox:after {
    height: 1px;
  }
  .pageTitle.ceo .container-fluid .data .img {
    width: 100%;
  }
  .pageTitle.ceo .container-fluid .data .img img.lines {
    width: 50%;
    left: unset;
    right: 0%;
    transform: translate(-50%, 0%);
  }
  .pageTitle.ceo .container-fluid .data .img img.ceoImage {
    width: 70%;
  }
}
@media (max-width: 767px) {
  .pageTitle.ceo .container-fluid .dots {
    left: 70px;
    width: 250px;
    top: 0px;
  }
  .pageTitle.ceo .container-fluid .data {
    padding-top: 50px;
    flex-direction: column-reverse;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper {
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
    width: 100%;
    max-width: 100%;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .title h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .title h2 br {
    display: none;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .quote {
    gap: 20px;
    margin: 20px 0;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .quote img {
    width: 50px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .quote p {
    font-size: 18px;
    line-height: 28px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .content {
    margin-bottom: 20px;
    max-width: 100%;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .content p {
    font-size: 16px;
    line-height: 28px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .authorBox:after {
    width: 60%;
    bottom: 30px;
    right: 30px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .authorBox h3 {
    font-size: 20px;
    line-height: 28px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .authorBox p {
    font-size: 16px;
    line-height: 26px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .authorBox:after {
    height: 1px;
  }
  .pageTitle.ceo .container-fluid .data .img {
    width: 100%;
  }
  .pageTitle.ceo .container-fluid .data .img img.lines {
    width: 50%;
    left: unset;
    right: 0%;
    transform: translate(-50%, 0%);
  }
  .pageTitle.ceo .container-fluid .data .img img.ceoImage {
    width: 70%;
  }
}
@media (max-width: 600px) {
  .pageTitle.ceo {
    padding-bottom: 0;
  }
  .pageTitle.ceo .container-fluid .dots {
    left: 15px;
    width: 170px;
    top: 0px;
  }
  .pageTitle.ceo .container-fluid .data {
    padding-top: 50px;
    flex-direction: column-reverse;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper {
    padding-left: 15px;
    padding-top: 20px;
    padding-right: 15px;
    width: 100%;
    max-width: 100%;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .title h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .title h2 br {
    display: none;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .quote {
    gap: 20px;
    margin: 20px 0;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .quote img {
    width: 50px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .quote p {
    font-size: 16px;
    line-height: 24px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .content {
    margin-bottom: 20px;
    max-width: 100%;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .content p {
    font-size: 16px;
    line-height: 28px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .authorBox:after {
    width: 60%;
    bottom: 30px;
    right: 30px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .authorBox h3 {
    font-size: 20px;
    line-height: 28px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .authorBox p {
    font-size: 16px;
    line-height: 26px;
  }
  .pageTitle.ceo .container-fluid .data .authorWrapper .authorBox:after {
    height: 1px;
  }
  .pageTitle.ceo .container-fluid .data .img {
    width: 100%;
  }
  .pageTitle.ceo .container-fluid .data .img img.lines {
    width: 60%;
    left: unset;
    right: 0%;
    transform: translate(-50%, 0%);
  }
  .pageTitle.ceo .container-fluid .data .img img.ceoImage {
    width: 80%;
  }
}/*# sourceMappingURL=ceo.css.map */